/tugas1/person/nbproject/private/
/tugas1/person/build/
/tugas2/array1dstring/nbproject/private/
/tugas2/array1dstring/build/
/tugas2/arrayrandom/nbproject/private/
/tugas2/arrayrandom/build/
/tugas2/arrray2d/nbproject/private/
/tugas2/arrray2d/build/
/tugas2/kasir/nbproject/private/
/tugas2/kasir/build/