/tugas1/person/nbproject/private/
/tugas1/person/build/
/tugas2/array1dstring/nbproject/private/
/tugas2/array1dstring/build/
/tugas2/arrayrandom/nbproject/private/
/tugas2/arrayrandom/build/
/tugas2/arrray2d/nbproject/private/
/tugas2/arrray2d/build/
/tugas2/kasir/nbproject/private/
/tugas2/kasir/build/
/tugas2/switchcase/nbproject/private/
/tugas2/switchcase/build/
/tugas2/pengurutangenap/nbproject/private/
/tugas3/pengurutangenap/nbproject/private/
/tugas3/pengurutangenap/build/
/tugas3/kelipatan/nbproject/private/
/tugas3/kelipatan/build/
/tugas3/5a/nbproject/private/
/tugas3/tugas5a/nbproject/private/
/tugas3/tugas5a/build/
/tugas3/5b/nbproject/private/
/tugas3/5b/build/
/tugas3/tugas5b_2/nbproject/private/
/tugas3/tugas5b_2/build/
/tugas3/tugas5c/nbproject/private/
/tugas3/tugas5c/build/
/tugas4/tree/nbproject/private/
/tugas4/Node/nbproject/private/
/tugas4/tree/build/
/tugas5/bubblesort/nbproject/private/
/tugas5/bubblesort/build/
/tugas5/sorting/nbproject/private/
/tugas5/sorting/build/
/tugas5/sortingdesc/nbproject/private/
/tugas5/sortingdesc/build/
/tugas5/sorting1/nbproject/private/
/tugas5/sorting1/build/